# Build files
build/
[Bb]in/
[Oo]bj/
tmp/

# Temp files
*.tmp
*.bak

# Visual user files
*.suo
*.user
*.sln.docstates
*.sdf
*.opensdf

# Codeblocks user files
*.depend
*.layout

# QtCreator user files
/*.config
/*.creator
/*.files
/*.includes
/*.creator.user

# Archives
*.rar

/[Rr]eferences/

doxygen/
